.App {
  text-align: center;
}

.gameBoard{
    display: grid;
    grid-template-columns: 235px 500px;
    grid-template-rows: 485px 30px;
    margin: 10px;
    gap: 5px;
}

.userBox{
    font-weight: bold;
    text-align: left;
    border: solid;
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
}

.board_wrap
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: solid;
    border-radius: 15px;
    padding: 15px;
    display: grid;
}

.wrap{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errMsg {
    color: red;
}

.input {
    width: 315px;
    height: 30px;
    border-color: black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
}

.heading {
    font-weight: bold;
    font-size: 50px;
}

.button {
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    background: white;
    border-width: 1px;
}

.button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}