body{
  margin: 0px;
}

th{
  width: 205px;
  overflow: hidden;
  text-align: center;
  padding-top: 15px;
}

tr{
  border-bottom: solid grey;
  height: 50px;
}

.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
}


.box {
  border: 1px solid black; /* Shows the lines in the CSS grid */
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  position: relative;
}

.box:hover{
  cursor:pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.box.X:after{
  content: '';
  height: 100px;
  width: 10px;
  background: black;
  position: absolute;
  transform: rotate(45deg);
}

.box.X:before {
    content: '';
    height: 100px;
    width: 10px;
    background: black;
    position: absolute;
    transform: rotate(-45deg);
}

.box.O:before {
    content: '';
    height: 90px;
    width: 90px;
    border-radius: 50px;
    background: black;
    position: absolute;
    transform: translate(-50%, 5%);
}

.box.O:after {
    content: '';
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: white;
    position: absolute;
    transform: translate(-50%, 20%);
}

.gameBoard{
    display: grid;
    grid-template-columns: 235px 650px;
    grid-template-rows: 85px 520px 30px;
    margin: 10px;
    gap: 5px;
}

.userBox{
    font-weight: bold;
    text-align: left;
    border: solid;
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
}

.leaderBoard {
  font-weight: bold;
  text-align: left;
  overflow: auto;
  display: grid;
  justify-items: center;
  justify-content: center;
}

.lbWrap{
  background-color: white;
  border: solid;
  border-radius: 15px;
  padding: 15px;
  overflow: auto;
  height: 450px;
  width: 700px;
  font-size: 15px;
  position: fixed;
  top: 52%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.board_wrap
{
    border: solid;
    border-radius: 15px;
    padding: 15px;
}

.board_grid{
    display: grid;
    grid-template-rows: 25% 75% 10%;
    grid-template-columns: 20% 60% 20%;
}

.wrap{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errMsg {
    color: red;
}

.input {
    width: 315px;
    height: 30px;
    border-color: black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
}

.heading {
    font-weight: bold;
    font-size: 50px;
}

.button {
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    background: white;
    border-width: 1px;
}

.button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.turnH {
    grid-row-start: 1;
    /* grid-row-end: 2; */
    grid-column-start: 1;
    grid-column-end: 4;
}

.pX{
  font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pO{
  font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resetBtn{
    grid-column-end: 3;
}

.logOutbtn{
    grid-column-start: 1;
    grid-column-end: 4;
}

.lb{
    width: 200px;
}