body{
  margin: 0px;
}

.board {
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
  padding: 50px;
}


.box {
  border: 1px solid black; /* Shows the lines in the CSS grid */
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
  border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.box.x:after{
  content: '';
  height: 100px;
  border-left: 5px solid black;
  position: absolute;
  transform: rotate(45deg);
}

.box.x:before {
    content: '';
    height: 100px;
    border-left: 5px solid black;
    position: absolute;
    transform: rotate(-45deg);
}

.box.o:after{
  content: '';
  height: 90px;
  border-left: 5px solid black;
  position: absolute;
}
